{%opentable%}
<div class="rss-index">
<div class='spacer-sm'>{%breadcrumb%}</div>
<div class='row equal-height m-t-15'>
    {categories.{
    <div id='rss-{%rss_cat_id%}' class='col-xs-12 col-sm-6 col-md-6 col-lg-6 rss-index-item'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h4 class='panel-title'>
                    <i class='fa fa-fw fa-folder m-r-10'></i><a href='{%rss_cat_link%}' class='strong'>{%rss_cat_name%}</a>
                </h4>
            </div>
            <div class='panel-body'>
                <div class='rss-text overflow-hide m-t-5'>{%rss_cat_description%}</div>  
            </div>
        </div>
    </div>
    }}
</div>
{no_item.{
    <div class='well text-center m-t-15'>{%message%}</div>
}}
</div>
{%closetable%}