{%opentable%}
    {rss_submit.{
        <div class='well spacer-xs'>{%guidelines%}</div>
        {%openform%}
        {%rss_title%}
        {%rss_link%}
        {%rss_cat_id%}
        {%rss_language%}
        {%rss_submit%}
        {%closeform%}
    }}
    {rss_confirm_submit.{
        <div class='well text-center'>
        <p class='strong'>{%title%}</p>
        <p class='strong'>{%submit_link%}</p>
        <p class='strong'>{%index_link%}</p>
        </div>
    }}
    {rss_no_submit.{
        <div class='well text-center'>{%text%}</div>
    }}
{%closetable%}